*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
body{
    margin: 0;
    padding: 0;
    background-color: lavenderblush;
}
.logo{
    text-align: center;
    background-color:gray;
    color: whitesmoke;
    padding: 0.5cm;
}
#movies {
    height: 400px;
    width: 50%;
    display: block;
    margin-top: 0px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;

    
    
     
}
.theater{
    font-size: medium;
    color: black;
    text-align: center;

}
.filmitem{
    text-align: left;


}
#moviesName{
    position: absolute;
    text-align: center;
    margin-left: 300px;
    margin-top: 150px;
    height: 2px;
    font-weight: 600px;
    padding: 84px 14px;
    top: 280px;

    
}
#movies-tickets{
    text-align: left;
    position: absolute;
    top: 50px;
    padding: 84px 14px;



    
}


.detailed-info{
    /* text-align: right; */
    position: relative;
    top: 50px;
    padding: 304px 54px;
    float: right;
    margin: auto;
    direction: ltr;
    margin-bottom: 200px;

}
#btns{
    position: relative;
    text-align: left;
    /* margin-left: 380px;
    margin-top: 250px; */
    color: blue;
    background-color: rgb(255, 255, 255);
    font-size: 22px;
    border-radius: 6px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    direction: ltr;
    float: right;
  }
 
  
